<% if (title == 'About Me') { %>

<section id="about">
        <div class="about container">
            <div class="colLeft">
                <img src="/Assets/images/image1.png" alt="My Photo" class="aboutImg" />
            </div>
            <div class="colRight">
                <h1>About <span>Me</span></h1>
                <p>Hello! I am Hamza Shahzad, a student here at Ontario Tech University and I am studying Networking and IT Security. I am in my second year and I am loving it so far. My hobbies include coding and just researching different cybersecurity topics. At the moment, I am unemployed and I am not looking for employement but I look forward to getting an internship this summer. In the future, I want to pursure a career in technology. Particularly in the world of cybersecurity or something to do with cloud security. Also, I like to play a variety of sports and video games, namely basketball and 2K.</p>
                

               
                
            </div>
        </div>
    </section>
    <%} %>

    