
<!--footer --> 

<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <div class="container-fluid">
    <h6 class=" navbar-text">&copy; Copyright 2024. All Rights reserved. </h6>
<a href="http://ca.linkedin.com/in/linkedinHamzaShahzad"><img src="Assets/images/linkedin.png" width="60" height ="60" alt="linkedin"></a>
<a href="https://github.com/HaShah05/WebScript"><img src="Assets/images/github.png" width="60" height ="60" alt="linkedin"></a>

  </div>
</nav>
