<% if (title == 'Home') { %>
    

<section id="home">
        <div class="home container">
            <h1>Welcome to My Portfolio</h1>
            <img src="/Assets/images/image1.png" alt="My Photo" class="aboutImg" />
            

        </div>
    </section>


<%} %>

