<% if (title == 'Projects') { %>

<section id="projects">
        <div class="projects container">
            <h1>Projects</h1>
            <article>
                <h2>Python Project <img src="Assets/images/rename.png.png" alt="My Photo" class="aboutImg" height="50" width="50" /> </h2>
                <p>This project involved creating a calculator for various different ciphers using Python. Throughout this project I worked along my group members with each of us completing our own designated tasks. This project really enhanced our thought process and fine tuned our skills in Python</p>
            </article>
            <article>
                <h2>CryptoMine Network  <img src="Assets/images/image3.png" alt="My Photo" class="aboutImg" height="50" width="75" /></h2>
                <p>A detailed network implemeneting many different security and routing protocols. This project was difficult but it was also very rewarding at the same time. It really increased my understanding behind networks and how they really function in real time. I leanred how to implement different security as well</p>
            </article>
        </div>
    </section>
<%} %>
